:root {
	--text-color: oklch(66.8% 0.163 24.12);
}
/* these people are not okay~ - Tymon */
/* true - Kyza */
/* Facts ~~~~~~~~~~Max */

.pop-hover {
	/* https://oklch.evilmartians.io/ */
	transition-duration: 0.075s;
	transition-timing-function: ease-out;
	transform: scale(1) rotate(0deg);

	&:hover {
		transform: scale(1.1) rotate(5deg);
	}
}

body {
	background-color: oklch(21.7% 0.006 258.36);
	font-family: "Fira Sans", monospace;
	flex-flow: column nowrap;
	display: flex;
	margin: 0;
	padding: 0 10vw;
	align-items: center;

	color: var(--text-color);
}

.links {
	flex-flow: row nowrap;

	a {
		text-decoration: none;
	}
}

header {
	align-items: center;
}

a {
	color: var(--text-color);
}
