:root {
	--text-color: oklch(66.8% 0.163 24.12);
}

.pop-hover {
	/* https://oklch.evilmartians.io/ */
	transition-duration: 0.075s;
	transition-timing-function: ease-out;
	transform: scale(1) rotate(0deg);

	&:hover {
		transform: scale(1.1) rotate(5deg);
	}
}

body {
	background-color: oklch(21.7% 0.006 258.36);
	font-family: "Fira Sans", monospace;

	margin: 0;
	padding: 0 10vw;

	color: var(--text-color);
}

header {
	display: flex;
	align-items: center;
	flex-direction: column;

	> *:not(img) {
		width: fit-content;
	}
}

.links {
	a {
		text-decoration: none;
	}
}

a {
	color: var(--text-color);
}
