/* aw hell naw max got the css wyatts */
* {
	color: oklch(66.8% 0.163 24.12);
}

.pop-hover {
	/* https://oklch.evilmartians.io/ */
	transition-duration: 0.075s;
	transition-timing-function: ease-out;
	transform: scale(1) rotate(0deg);

	&:hover {
		transform: scale(1.1) rotate(5deg);
	}
}

body {
	background-color: oklch(21.7% 0.006 258.36);
	font-family: "Fira Sans", monospace;
	flex-flow: column nowrap;
	display: flex;
	margin: 0;
	align-items: center;
}

.links {
	flex-flow: row nowrap;
}

a {
	text-decoration: none;
	justify-content: center;
}
